---
import Layout from "../layouts/Layout.astro";
import LoadingPage from "../components/loadingPage";
import facebook from "../../public/img/face.png";
import Strp from "../components/Strap";
import ins from "../../public/img/ins.png";
import behance from "../../public/img/be.png";
import cletter from "../../public/img/c.png";
import Image from "astro/components/Image.astro";
import sletter from "../../public/img/s.png";
import PageLabel from "../components/pageLabel";
import ServicesCards from "../components/servicesCards";
import Lamp from "../components/lamp";
import Slogan from "../components/slogan";
import "../styles/index.css";
---

<LoadingPage client:load className="" />
<Layout title="Katshy">
  <section class="overflow-hidden relative h-screen w-full" id="hero">
    <Slogan client:only />
    <Lamp
      className="md:top-[-15rem] lg:top-[-11rem] xl:top-[-20rem] w-[40%]"
      client:only
    />
    <Strp
      className="relative rotate-45 top-[-10rem]  md:top-[-15rem] lg:top-[-25rem] left-[-3rem]  bg-[#D2FC1C] md:left-[-5rem]"
    />
    <Strp
      className={`relative rotate-[-10deg] top-[30%] md:top-[15%] lg:top-[-32%] xl:top-[-40rem] left-[-5rem] md:left-[-7rem] lg:left-[-6rem] xl:left-[-5rem] bg-[#212121] text-[#D2FC1C]`}
    />
  </section>

  <section
    class="flex lg:items-center justify-center flex-col lg:justify-normal lg:flex-row items-start px-[20px]"
  >
    <div class="flex flex-col items-center">
      <PageLabel label="about us" className="" />
      <Lamp className="mb-[5rem] hidden lg:block" />
    </div>
    <div class="uppercase text-white lg:ml-[-4rem]">
      <p class="text-[32px] lg:text-[40px] leading-[76px]">
        we are a digital mar<span class="text-second">k</span>eting agency.
      </p>
      <p class="mt-[40px] leading-[60px] text-[22px] lg:text-[32px]">
        <span class="text-second">k</span>atshy is a leading design & software
        development agency. We help startups and companies to advance, spread
        and improve quality
      </p>
    </div>
  </section>

  <section class="px-[20px]">
    <div class="flex flex-col gap-[4rem] lg:gap-0 lg:items-center lg:flex-row">
      <div class="flex flex-col lg:items-center gap-[5rem]">
        <PageLabel label={"services"} className={""} />
        <Image
          src={sletter}
          alt={"S"}
          class={" w-[25rem] top-[35%] hidden lg:block"}
          transition:name="lamp"
        />
      </div>
      <div
        class="flex flex-col lg:flex-row pb-5 lg:flex-wrap gap-[22px] lg:w-[100%] xl:w-[80%]"
        transition:animate="slide"
      >
        <ServicesCards
          title={"Graphic Design."}
          content="Through custom graphics, at Katshy, your ideas as become tangible. We have gifted designers to develop a logo, business cards, fold ups, and Facebook covers for your brand. So why not let us help you make an impression that will last for years."
          link={"."}
        />
        <ServicesCards
          title={"Social media Marketing."}
          content="at Katshy we elevate your brand to the next level on social media. We have experts who are developing strategies to target the right market and advertise the internet platforms. Our team is ready to help you get closer to your customers and set your business apart."
          link={"."}
        />
        <ServicesCards
          title={"Web service."}
          content="At Katshy, we bring your vision to the web. Our expert team designs and develops custom websites that are visually stunning and user-friendly. Let us help you establish a powerful online presence."
          link={"."}
        />
        <ServicesCards
          title={"Video Editing."}
          content="we enhance your footage with expert video editing. Our skilled team refines and transforms your videos into polished, engaging content that captures your audience's attention. Let us help you create stunning visual stories."
          link={"."}
        />
        <ServicesCards
          title={"media production."}
          content="we bring your stories to life. Our expert team creates high-quality videos, animations, and audio content tailored to your brand. Let us help you captivate your audience with professional media production."
          link={"."}
        />
        <ServicesCards
          title={"App service."}
          content="At Katshy, we turn your ideas into powerful apps. Our skilled team designs and develops custom mobile applications that are intuitive and engaging. Let us help you create an impactful app experience."
          link={"."}
        />
      </div>
    </div>
  </section>

  <section class="text-white">
    <div class="flex justify-center">
      <div class="flex flex-col justify-center">
        <PageLabel label="contacts us" className="left-[3rem]" />
        <div class="flex relative">
          <Image src={cletter} alt="C" width="400" />
          <div
            class="absolute lg:relative flex items-center left-[37%] top-[5%] lg:top-0 lg:left-[-5rem] bottom-[2rem]"
          >
            <div
              class="flex items-center flex-col lg:flex-row gap-[1rem] lg:gap-[5rem] relative"
            >
              <a href=".">
                <div class="flex items-center gap-[1rem]">
                  <p>01068389335</p>
                </div>
              </a>
              <a href=".">
                <div class="flex items-center gap-[0.5rem]">
                  <Image
                    src={facebook}
                    alt={"facebook"}
                    width="100"
                    class="hidden lg:block"
                  />
                  <p><span class="text-second">K</span>atshy</p>
                </div>
              </a>
              <a href=".">
                <div class="flex items-center gap-[0.5rem]">
                  <Image
                    src={ins}
                    alt={"instegram"}
                    width="100"
                    class="opacity-40 hidden lg:block"
                  />
                  <p><span class="text-second">K</span>atshy</p>
                </div>
              </a>
              <a href=".">
                <div class="flex items-center gap-[0.5rem]">
                  <Image
                    src={behance}
                    alt={"behance"}
                    width="100"
                    class="hidden lg:block"
                  />
                  <p><span class="text-second">K</span>atshy</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
